:root {
  --yellow: #ffc600;
  --black: #000000;
  --white: #ffffff;
}

body {
  font-size: 15px;
  background-color: bisque;
}

button {
  background: var(--yellow);
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2";
}

.hero {
  grid-area: hero;
  min-height: 400px;
  background: white url(img/taco.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 50px;

  /*use flex box instead grid to remove column area*/
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  /*
  display: grid;
  justify-content: start; /*start from left*/
  /*align-content: center; /*display vertical center*/
}

.hero > * {
  background-color: var(--yellow);
}

.cta {
  background: var(--yellow);
  display: grid;
  align-items: center;
  justify-items: center; /*horizontal middle*/
  align-content: center; /*vertical center and close each other*/
}

.cta p {
  margin-bottom: 0px;
}

.cta1 {
  grid-area: cta1;
}

.cta2 {
  grid-area: cta2;
}

.price {
  font-size: 60px;
  font-weight: 700;
}

/* Navigation CSS */
.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.menu a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

[aria-controls="menu-list"] {
  display: none;
}

/* Features */
.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.feature {
  background: var(--white);
  padding: 10px;
  border: 1px solid var(--white);
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.feature .icon {
  font-size: 50px;
}

/* About section */

.about {
  background: var(--white);
  padding: 50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center; /*display all the items vertical center*/
}

/* gallery */

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
  width: 100%;
}

.gallery h2 {
  grid-column: 1/-1;
  display: grid; /*We are going to add before and after border that's the reason to use display grid*/
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.gallery h2:before,
.gallery h2:after {
  display: block;
  content: "";
  height: 10px;
  background: linear-gradient(to left, var(--yellow), transparent);
}

.gallery h2:after {
  background: linear-gradient(to right, var(--yellow), transparent);
}

/* Responsive area */

@media (max-width: 1000px) {
  .menu {
    order: -1; /*we are using wrapper area grid that's why if we put the order-1 negative then it will take above of the page*/
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu ul {
    max-height: 0px;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }
}

@media (max-width: 700px) {
  .top {
    grid-template-areas:
      "hero hero"
      "cta1 cta2";
  }

  /* about section */
  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2";
  }
}
